html, body {
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    height: 100vh;
}

/* navbar */
nav {
    position: fixed;
    right: 3%;
    top: 50%;
}

nav div {
    display: flex;
    flex-direction: column;
}

nav a {
    height: 10px;
    margin: 7px 0;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: rgb(201, 217, 228);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
  
.active, .dot:hover {
    background-color: rgb(117, 131, 141);
}

/* first section */
.intro-title {
    padding: 0 0 2em 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(117, 131, 141);
}

.intro-subtitle {
    text-align: center;
    font-size: 1.2em;
    color: rgb(124, 136, 145);
}

.time {
    margin: 10px 0 20px 0;
    color: rgb(153, 171, 184);
}

.flexbox {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* time */
.time-panel {
    display: flex;
}

.subtitle {
    text-align: center;
    color: rgb(153, 171, 184);
}

.countdown {
    margin-top: 2%;
    font-size: 3em;
}

/* wishes */
.container-title {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: rgb(72, 81, 87);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container-inner {
    min-width: 250px;
    max-width: 260px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 30px 0 rgba(153, 171, 184, 0.15);
    margin: 3%;
    min-height: 320px;
}

.header {
    padding: 30px 0 30px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: rgb(117, 131, 141);
}

.profession {
    font-size: 1.1em;
    padding: 0 30px;
}

.content {
    padding: 0 30px 30px;
    text-align: justify;
    color: rgb(124, 136, 145);
}

/* footer */
footer {
    text-align: center;
    color: rgb(117, 131, 141);
    margin-bottom: 20px;
}